<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>FoodFy</title>
        <link rel="stylesheet" href="style.css">
    {% endblock %}
    
</head>
<body>

    <header>
        <a href="/"><img src="/assets/logo.png" alt="logo"></a>
        <nav>
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>  
        <p>Todos os direitos Reservados, Receitas FoodFy</p> 
    </footer>
<script src="/index.js"></script>      
</body>
</html>